<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.title %> (<%= movie.rating%>): <%= total_gross(movie) %>
      <p>
        <%= movie.description.truncate(40, separator: ' ') %>
      </p>
      <p>
        <%= year_of(movie) %>
      </p>
    </li>
  <% end %>
</ul>
